---
import { Comment } from 'astro-pure/advanced'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Principal Engineer - Versent</p>
  <p>
    Experienced Solutions Architect & Full Stack Software Engineer skilled in crafting scalable
    solutions that align with business objectives. Proficient in cloud computing, microservices, &
    DevOps. Expertise in end-to-end development, from UI/UX design to backend architecture.
    Passionate about leveraging technology to drive business success.
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Homelab</li>
    <li>Gaming</li>
    <li>Firearms</li>
    <li>BBQing</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Skills & Proficiencies:</p>
  <ToolSection
    class='mb-5'
    title='Programming'
    tools={[
      {
        name: 'TypeScript',
        description: 'Programming Language',
        href: 'https://typescriptlang.org',
        icon: import('@/assets/tools/typescript.svg?raw')
      },
      {
        name: 'JavaScript',
        description: 'Programming Language',
        href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
        icon: import('@/assets/tools/javascript.svg?raw')
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org',
        icon: import('@/assets/tools/python.svg?raw')
      },
      {
        name: 'Dart',
        description: 'Programming Language',
        href: 'https://dart.dev',
        icon: import('@/assets/tools/dart.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environments'
    tools={[
      {
        name: 'macOS',
        description: 'Apple OS',
        href: 'https://apple.com/macos',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows',
        description: 'Microsoft OS',
        href: 'https://microsoft.com/windows',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
      {
        name: 'Debian',
        description: 'Linux Distribution',
        href: 'https://debian.org',
        icon: import('@/assets/tools/debian.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='DevOps'
    tools={[
      {
        name: 'Proxmox',
        description: 'Virtualization',
        href: 'https://proxmox.com',
        icon: import('@/assets/tools/proxmox.svg?raw')
      },
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://docker.com',
        icon: import('@/assets/tools/docker.svg?raw')
      },
      {
        name: 'Grafana',
        description: 'Monitoring',
        href: 'https://grafana.com',
        icon: import('@/assets/tools/grafana.svg?raw')
      },
      {
        name: 'CloudFormation',
        description: 'Monitoring',
        href: 'https://prometheus.io',
        icon: import('@/assets/tools/cloudformation.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Lightroom',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/lightroom',
        icon: import('@/assets/tools/lightroom.svg?raw')
      },
      {
        name: 'Figma',
        description: 'Interface Design',
        href: 'https://www.figma.com',
        icon: import('@/assets/tools/figma.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>Follow me on GitHub or connect with me on LinkedIn</p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/tatewalker',
        text: 'followers',
        api: 'github/tatewalker'
      },
      {
        platform: 'LinkedIn',
        icon: 'linkedin',
        color: '#2ca5e0',
        link: 'https://linkedin.com/in/tate-walker',
        text: '500+ connections'
      }
    ]}
  />

  <Comment slot='bottom' />
</PageLayout>
